*{
    background-color:Black;
}
#header{
    font-family: 'Cormorant SC', serif;
    text-align:center;
    font-size:60px;
    font-weight: bold;
    color:white;
}
#triviacontainer{
    width:80%;
    margin:10%;
    background-color:gray;
    color:white;
    align-content:center;
}
.buttons{
    background-color:black;
    margin: 20px;
    color:red;
    font-size: 32px;
    width:80%;
    margin-left:10%;
    margin-right:10%;
    font-weight: Bold;
}
.buttons:hover{
    background-color:red;
    color:black;
}
.trivia{
    text-align:center;
    align-content:center;
    background-color: darkgray;
}